* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

body {
    margin: 50px 0px;
    font-family: "Poppins", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F6F4F0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    margin-bottom: 70px;
}

header h1 {
    text-align: center;
}

article {
    width: 100%;
}

.result-box {
    display: flex;
    margin: auto;
    width: 50%;
    height: 104px;
    border-radius: 10px;
    position: relative;
}

.box-correct {
    background-color: #35BD3A;
    width: 30%;
    border-radius: 10px;
    left: 10px;
    position: relative;
}

.box-wrong {
    background-color: #FF7A7A;
    width: 70%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: -5%;
}

.text {
    width: 61%;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    margin-top: 25px;
    margin-bottom: 100px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: -7%;
}

.button {
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
    width: 224px;
    position: relative;
}

.button .box1 {
    position: absolute;
    z-index: 5;
    width: 224px;
}

.button .box2 {
    position: absolute;
    z-index: 6;
    width: 216px;
}

.button h1 {
    position: absolute;
    z-index: 7;
    top: 10px;
    left: 45px;
    width: 216px;
    display: block;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

footer>h1 {
    text-align: center;
}

@media (max-width:720px) {
    h1 {
        font-size: 16px;
    }


    .result-box {
        height: 53px;
        border-radius: 10px;
        position: relative;
        width: 80%;

    }

    .right-arrow {
        right: -9%;
    }

    .text {
        width: 95%;
        margin-top: 44px;
    }
}